{% extends "base.html" %}

{% block xyz %}
 

<form action="/save-this-data" method="post" enctype="multipart/form-data">
    
<div style="padding: 11%;">
    <h1 style="    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px;">Contact Us</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your full  name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Email Id">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
        <input type="text" name="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Phone Number">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" name="msg" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Upload Image</label>
        <input type="file" name="imgx" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Phone Number">
    </div>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-success">Save Data</button>
    </div>
</div>


</form>

{% endblock xyz %}